<div class="wrap bg">
   <!-- Static navbar -->
   <section class="top" id="top-header">
		  <div class="container">
			 <div class="row">
				<div class="col-xs-12 col-sm-6 shipping-text"> Free Shipping on Orders <i class="fa fa-rupee"></i> 5000 and Above </div>
				<div class="col-xs-12 col-sm-6 links">
				   <a href="#contact" class="right-links">Contact Us</a> <span ng-hide="userlogged"><a href="#/login" class="right-links">Login </a>  <a href="#/registration" > Signup</a></span><span class="login-btn" ng-show="userlogged">{{loggedInUserName}}</span>
				   <!--=== LOGOUT SECTION ===-->
				   <div class="myprofile-block">
					  <div class="mypro-brdr">
						 <div class="pro-top">
							<!--<a href="#" class="pro-pic">
							   <img src="img/tst-pic.jpg"/>
							   <span>Change</span>
							   </a>-->
							<div class="pro-txt">
							   <h3>{{loggedInUserName}}</h3>
							   <h4>{{loggedInUser}}</h4>
							</div>
						 </div>
						 <div class="pro-btm">
							<span class="mypro-btn" ng-click="myProfile()"><a>My profile</a></span>
							<span class="mypro-logout" ng-click="logout()"><a>Log Out</a></span>
						 </div>
					  </div>
				   </div>
				   <a href="#cart" class="cart">
				   <!--<i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> -->
				   <img src="img/cart1.png">
				   <span class="cart-value"> {{lengthofcart}}</span> </a>
				</div>
			 </div>
		  </div>
	   </section>
	   <header class="header">
		  <nav class="navbar navbar-default">
			 <div class="container">
				<div class="row">
				   <div class="col-xs-12 ">
					  <div class="navbar-header">
						 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
						 <a class="navbar-brand" href="#/"></a>
						 <figure> </figure>
						 <div class="search mobile-search">
							<div class="input">
								<i class="fa fa-search"></i>
								<input type="text" placeholder="Search">
							</div>
						</div>
					  </div>
					  <div id="navbar" class="navbar-collapse collapse">
						 <ul class="nav navbar-nav">
							<li><a href="#/todaydeals">Today's Deals</a></li>
							<li><a>Buy/Sell</a></li>
							<li><a href="#services">Services</a></li>
							<li><a>About Us</a></li>
							<li class="store"><a>Our Store</a></li>
							<li><a href="#/myaccount">My Account</a></li>
							<li class="menu-search">
							<div class="search">
							  <div class="input">
								<i class="fa fa-search"></i>
								  <div class="menu-in" ng-controller="TypeSearchCtrl">
								  <div class="sec-block">
									<select ng-init="searchType = typeOfSearch[0]"
											ng-model="searchType"
											ng-options="option.name for option in typeOfSearch">
									</select>
								  </div>
                                    <input type="text" id="modalValue" ng-keypress="searchFunctions(searchSelected,$event,searchType.value,$model)" value="searchSelected" ng-model="searchSelected" autofocus="autofocus" placeholder="Search" uib-typeahead="item for item in getSearch($viewValue, searchType.value)" typeahead-focus-first="false" typeahead-wait-ms="1000" typeahead-min-length="3" typeahead-on-select="onSearchSelect(searchSelected, $item, $model, $label, $event, searchType.value, titleArray)" typeahead-no-results="noResults"/>
									<span class="menu-in-search" ng-click="searchFunction(searchSelected, searchType.value)"><i class="fa fa-search"></i></span>
									<span class="menu-in-clear" ng-click="clearString(searchSelected)"><i class="fa fa-times-circle"></i></span>
                              </div>
                           </div>
                        </div>
                     </li>
							<li class="post" ><a href="#postrequire"><span>Post A Requirement</span></a></li>
						 </ul>
					  </div>
					  <!--.nav-collapse -->
				   </div>
				</div>
			 </div>
			 <!--/.container-fluid -->
		  </nav>
		  <category-Directive></category-Directive>
	   </header>
   <div class="breadcrumbs"><a href="#/">Home</a>   &gt; &nbsp;  Cart &nbsp; &gt; &nbsp;  Items </div>
   <section class="cart-top">
      <div class="container">
         <div class="home">
            <ul class="cart-links">
               <li  ng-show="cartEmpty" class="active cart">
                  <a href="#/cart"><img src="img/cart-active.png"/> 
                  Items<span>Step 1</span></a>
               </li>
               <li  ng-show="cartEmpty" class="dvry">
                  <a href="#/delivery"><img src="img/delivery.png"/> 
                  Shipment<span>Step 2</span>
               </li>
               </a>
               <li   ng-show="cartEmpty"  class="pay">
                  <img src="img/payment.png"/> 
                  Payment<span>Step 3</span>
               </li>
               <li ng-show="cartEmpty" class="btn-coupon"><a href=""> Apply Coupon</a></li>
            </ul>
         </div>
      </div>
   </section>
   <section class="cart">
      <div class="container">
         <div class="pay-block">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 left">
               <div class="cart-block">
                  <div class="table-responsive cart-table">
                     <table class="table">
                        <thead>
                           <tr  ng-show="cartEmpty">
                              <th class="col-span-2">Item Description</th>
                              <th>Item Name</th>
                              <th>Options</th>
                              <th>Price</th>
                              <th>Total Price</th>
                           </tr>
                           <tr>
                              <div ng-show="cartNullMessage">
                                 <h1>Your Shopping Cart Is <strong>Empty</strong></h1>
                              </div>
                           </tr>
                        </thead>
                        <tbody ng-repeat="subcart in cartlist.shoppingCartItems">
                           <tr>
                              <td>
                                 <figure><img ng-src="{{subcart.image}}"></figure>              
                              </td>
                              <td>
                                 <h4>{{subcart.name}}</h4>
                                 <br>
                                 <span class="v-name">Seller:{{subcart.vendorDetails.vendorName}}</span>
                                 <h3><span></span></h3>
                              </td>
                              <td>
                                 <form class="form-horizontal cart-form">
                                    <div class="form-group">
                                       <button ng-click="decrement(subcart);" ng-disabled="subcart.quantity==1">-</button>
                                       <input type="number"  class="mat" id="quantity" name="quantity" class="form-control cart-quantity" ng-model="subcart.quantity" >
                                       <button ng-click="increment(subcart);">+</button>
                                       <!--<label>Qty </label>-->
                                       <input type="hidden" name="priceup" id="priceup" value="{{subcart.price}}">
                                       <button type="submit"  ng-model="subcart.quantity" ng-click="update()">Update</button>
                                    </div>
                                 </form>
                              </td>
                              <td>
                                 <h6>
                                    <i class="fa fa-inr" aria-hidden="true"></i> {{subcart.price}}<br>
                                    <span class="dis1" ng-show="showPrice"><i class="fa fa-inr" aria-hidden="true"></i> {{subcart.discountPrice}}</span>
                                    <!--<span class="red">(10% OFF)</span>-->
                                 </h6>
                              </td>
                              <td>
                                 <h6><i class="fa fa-inr" aria-hidden="true"></i> <b>{{subcart.subTotal}}</b></h6>
                                 <h2><a href=""  ng-click="deleteProd(subcart.id)">Delete</a></h2>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 right">
               <div class="cart-block" ng-show="cartEmpty">
                  <h5>Order Summary</h5>
                  <div class="table-responsive">
                     <table class="table order-summary" >
                        <tr>
                           <td>Bag Total</td>
                           <td><i class="fa fa-inr" aria-hidden="true"></i> {{totalprice}}</td>
                        </tr>
                        <tr>
                           <td>Bag Discount</td>
                           <td class="gray">- <i class="fa fa-inr" aria-hidden="true"></i> 000</td>
                        </tr>
                        <tr>
                           <td>Estimated Tax</td>
                           <td><i class="fa fa-inr" aria-hidden="true"></i> 000</td>
                        </tr>
                        <tr>
                           <td>Coupon Discount</td>
                           <td>Apply Coupon</td>
                        </tr>
                        <tr>
                           <td>Delivery</td>
                           <td class="gray">Free</td>
                        </tr>
                        <tr>
                           <td>Order Total</td>
                           <td><i class="fa fa-inr" aria-hidden="true"></i>{{totalprice}}</td>
                        </tr>
                     </table>
                     <a href="#delivery"><button type="submit" class="btn-order" ng-show="cartEmpty">Place Order</button></a>
                     <a href="#/"><button class="button">Continue Shopping</button></a>
                  </div>
                  <div class="right-btm">
                     <div class="help-block">
                        <h6>Need Help</h6>
                        <h6>
                           Call 
                           <a href="#">
                              040 - 235345</>
                        </h6>
                     </div>
                     <div class="cards">
                     <ul>
                     <li><a href="#"><img src="img/visa.png"/></a></li>
                     <li><a href="#"><img src="img/master-card.png"/></a></li>
                     <li><a href="#"><img src="img/american-express.png"/></a></li>
                     <li><a href="#"><img src="img/cash-on-delivery.png"/></a></li>
                     </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="cart-terms">
            <div class="col-xs-12 col-md-9 col-sm-9 col-lg-9">
               <h6>Terms & Conditions</h6>
               <p>This following sets out the terms and conditions on which you may use the content on bother digital publishing services www.osh.com owned by business standard content services.</p>
            </div>
         </div>
         <div class="secure-links">
            <ul>
               <li><img src="img/secure.png"/>100% Secure	</li>
               <li><img src="img/assured.png"/>Assured Quality	</li>
               <li><img src="img/easy-returns.png"/>	Easy Returns</li>
            </ul>
         </div>
      </div>
   </section>
   <div id="back-top">
	<a href="javascript:" id="return-to-top"><i class="fa fa-arrow-circle-o-up"></i></a>
</div>
</div>
</div>
<script>
$(".login-btn").click(function(){
	$(".myprofile-block").toggle();
});
$(".mobile-search .fa-search").click(function(){
	$(".mobile-search input").toggle();
});
</script>