<div class="wrap">
   <!-- Static navbar -->
   <section class="top" id="top-header">
		  <div class="container">
			 <div class="row">
				<div class="col-xs-12 col-sm-6 shipping-text"> Free Shipping on Orders <i class="fa fa-rupee"></i> 5000 and Above </div>
				<div class="col-xs-12 col-sm-6 links">
				   <a href="#contact" class="right-links">Contact Us</a> <span ng-hide="userlogged"><a href="#/login" class="right-links">Login </a>  <a href="#/registration" > Signup</a></span><span class="login-btn" ng-show="userlogged">{{loggedInUserName}}</span>
				   <!--=== LOGOUT SECTION ===-->
				   <div class="myprofile-block">
					  <div class="mypro-brdr">
						 <div class="pro-top">
							<!--<a href="#" class="pro-pic">
							   <img src="img/tst-pic.jpg"/>
							   <span>Change</span>
							   </a>-->
							<div class="pro-txt">
							   <h3>{{loggedInUserName}}</h3>
							   <h4>{{loggedInUser}}</h4>
							</div>
						 </div>
						 <div class="pro-btm">
							<span class="mypro-btn" ng-click="myProfile()"><a>My profile</a></span>
							<span class="mypro-logout" ng-click="logout()"><a>Log Out</a></span>
						 </div>
					  </div>
				   </div>
				   <a href="#cart" class="cart">
				   <!--<i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> -->
				   <img src="img/cart1.png">
				   <span class="cart-value"> {{lengthofcart}}</span> </a>
				</div>
			 </div>
		  </div>
	   </section>
	   <header class="header">
		  <nav class="navbar navbar-default">
			 <div class="container">
				<div class="row">
				   <div class="col-xs-12 ">
					  <div class="navbar-header">
						 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
						 <a class="navbar-brand" href="#/"></a>
						 <figure> </figure>
						 <div class="search mobile-search">
							<div class="input">
								<i class="fa fa-search"></i>
								<input type="text" placeholder="Search">
							</div>
						</div>
					  </div>
					  <div id="navbar" class="navbar-collapse collapse">
						 <ul class="nav navbar-nav">
							<li><a href="#/todaydeals">Today's Deals</a></li>
							<li><a>Buy/Sell</a></li>
							<li><a href="#services">Services</a></li>
							<li><a>About Us</a></li>
							<li class="store"><a>Our Store</a></li>
							<li><a href="#/myaccount">My Account</a></li>
							<li class="menu-search">
							<div class="search">
							  <div class="input">
								<i class="fa fa-search"></i>
								  <div class="menu-in" ng-controller="TypeSearchCtrl">
								  <div class="sec-block">
									<select ng-init="searchType = typeOfSearch[0]"
											ng-model="searchType"
											ng-options="option.name for option in typeOfSearch">
									</select>
								  </div>
                                    <input type="text" id="modalValue" ng-keypress="searchFunctions(searchSelected,$event,searchType.value,$model)" value="searchSelected" ng-model="searchSelected" autofocus="autofocus" placeholder="Search" uib-typeahead="item for item in getSearch($viewValue, searchType.value)" typeahead-focus-first="false" typeahead-wait-ms="1000" typeahead-min-length="3" typeahead-on-select="onSearchSelect(searchSelected, $item, $model, $label, $event, searchType.value, titleArray)" typeahead-no-results="noResults"/>
									<span class="menu-in-search" ng-click="searchFunction(searchSelected, searchType.value)"><i class="fa fa-search"></i></span>
									<span class="menu-in-clear" ng-click="clearString(searchSelected)"><i class="fa fa-times-circle"></i></span>
                              </div>
                           </div>
                        </div>
                     </li>
							<li class="post" ><a href="#postrequire"><span>Post A Requirement</span></a></li>
						 </ul>
					  </div>
					  <!--.nav-collapse -->
				   </div>
				</div>
			 </div>
			 <!--/.container-fluid -->
		  </nav>
		  <category-Directive></category-Directive>
	   </header>
  <div class="container">
    <section class="login title  for-rst" >
      <div class="row">
        <div class="col-xs-12  ">
		<h2 class="main-title"><strong>Change Your Password</strong></h2>
		  <div class="login-inner">
			<form name="changePasswordForm" class="form-horizontal">
				  <div class="form-group">
					 <div ng-class="{ 'has-error' : changePasswordForm.password.$invalid && !changePasswordForm.password.$pristine }">
                        <input type="password" name="password" id="password" class="form-control" ng-model="changePassword.password" placeholder="Current Password" required/>
                        <p class="help-block" ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$error.required">Current Password is required</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                     </div>
				  </div>
				  <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine }">         
					<input type="password"  name="newPassword" id="pass" class="form-control" placeholder="New Password" ng-model="changePassword.newPassword" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,16}$/" required>
					<p ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$error.required" class="help-block">Password is required</p>
					<p class="help-block" ng-show="changePasswordForm.newPassword.$error.pattern">Length should be 8 to 15 (including upper, lower & special)</p>
					<i class="fa fa-star" aria-hidden="true"></i>
				  </div>
                  <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.confirmPassword.$invalid && !changePasswordForm.confirmPassword.$pristine }">
					<input type="password"  name="confirmPassword" ng-model="changePassword.confirmPassword" ng-pattern="{{changePassword.pass}}" id="conformPassword" class="form-control" placeholder="Confirm Password" required>
					<p ng-show="changePasswordForm.confirmPassword.$touched && changePasswordForm.confirmPassword.$error.required" class="help-block">Confirm Password is required</p>
					<p class="help-block" ng-show="changePasswordForm.confirmPassword.$error.pattern">Password not matched</p>                       
					<i class="fa fa-star" aria-hidden="true"></i>
                  </div>
				  <div class="form-group btn-sign">
					<button type="submit" class="btn btn-default" ng-click="changepass(changePassword)">Submit</button>
				  </div>
			</form>
		  </div>
		  </div>
      </div>
    </section>
  </div>
</div>

<script>
$(".login-btn").click(function(){
    $(".myprofile-block").toggle();
});
$(".mobile-search .fa-search").click(function(){
	$(".mobile-search input").toggle();
});
</script>