<div class="body-bg">
<div class="container-fluid-full">
    <div class="row-fluid">
      <div class="content-box chnge-pwd">
		<h2 class="main-title"><span>Change Password</span></h2>
                  <form class="prof form-login" name="changePassForm">
                     <fieldset>
                        <div class="input" title="Select Admin Name">
			<div class="sec-block">
				<select ng-model="setNewPswd.id" required>
					<option value="">Select Admin</option>
					<option ng-repeat="setNewPswd in admin" value="{{setNewPswd.id}}">{{setNewPswd.adminName}}</option>
				</select>
			</div>
			<i class="fa fa-star" aria-hidden="true"></i>
			</div>
                        <div class="input" title="New Password">
                              <input type="password" class="span12 typeahead" value="" placeholder="Enter New Password" ng-model="setNewPswd.newPassword">
                             <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="input" title="Confirm Password">
                              <input type="password" class="span12 typeahead" value="" placeholder="Confirm Your Password">
                              <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="button-login">
                           <button id="submit" type="submit" class="btn btn-primary" ng-click="changePswd(setNewPswd)">Submit</button>
                        </div>
			<div class="alert alert-warning" ng-if="errmsg"> 
				<span class="close" data-dismiss="alert" aria-label="close" ng-click="alerthide()">&times;</span>{{errmessage}}
			</div>
                     </fieldset>
                  </form>
         </div>
      </div>
   </div>
</div>
<div class="clearfix"></div>