<div class="wrap">
   <!-- Static navbar -->


   <div class="container">
	<section class="contact-address" >
	<div class="container">
	 <div class="row">
      <div class="col-xs-12  ">
         <h2 class="sec-title mar0"><strong>Registration Successfull</strong></h2>
		 <div class="address-area">
<h4 style= "text-align: center";> Welcome to OneSevenHome</h4>

<h5 style= "text-align: center";> Please Check your Mail for Activation of  your OneSevenHome Account</h5>
  

      </div>
   </div>
</div>
</section>
</div>

<script>
$(".login-btn").click(function(){
    $(".myprofile-block").toggle();
});
</script>
<script>
$(".mobile-search .fa-search").click(function(){
    $(".mobile-search input").toggle();
});
</script>