<div id="content" class="row dealmgm-view">
   <!-- Nav tabs -->
   <ul class="nav nav-tabs" id="cataloguetabs" role="tablist">
      <li role="presentation" class="active"><a data-target="#dealmgmtab" aria-controls="home" role="tab" data-toggle="tab" >Deal Management</a></li>
      <li role="presentation" ><a data-target="#addnewdealmgm" aria-controls="home" role="tab" data-toggle="tab" >Add New Deal</a></li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="dealmgmtab">
         <div class="col-md-12">
            <div class="row">
               <div class="col-md-offset-4 col-sm-4">
                  <h2 class="main-title"><span>Deal Management</span></h2>
               </div>
               <div class="clearfix"></div>
               <div >
                  <div class="col-md-2 pad0">
                     <div class="form-group">
                        <div class="input-group date dealmgmdate">
                           <input type="text" class="form-control" placeholder="(YYYY-MM-DD)" readonly>                           
                           <div class="input-group-addon">
                              <span class="glyphicon glyphicon-th"></span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-10 text-right alldeals">
                     <label><input type="checkbox" ng-model="alldeal" ng-click="getalldeals(alldeal)">Get All Deals</label>
                  </div>
               </div>
               <div class="clearfix"></div>
               <div class="gridStyle"
                  ui-grid="DealMgmgrid" ui-grid-cellnav  ui-grid-auto-resize></div>
               <div class="clearfix"></div>
               <div class="text-center">
                  <div paging
                     page="1" 
                     page-size="15" 
                     total=DealMgmuptotalCount
                     paging-action="DealMgmPaging(page, pageSize, total)">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="addnewdealmgm">
         <div id="content" class="row">
            <div class="col-md-12">
               <!-- Update Product -->
               <div class="row">
                  <div class="col-md-offset-4 col-sm-4">
                     <h2 class="main-title"><span>Add New Deal</span></h2>
                     <form class="form-horizontal">
                        <div class="form-group">
                           <div class="sec-block">
                              <select ng-change="catchange()" ng-model="catvalue">
                                 <option ng-repeat="category in menuitems">{{category.title}}</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="sec-block">
                              <select ng-change="subCatChange()" ng-model="subCatValue" ng-disabled="subCatValueEnb">
                                 <option ng-repeat="subCat in categorySub">{{subCat.title}}</option>
                              </select>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-12">
                     <div class="gridStyle"
                        ui-grid="addnewdealgrid"  ui-grid-edit ui-grid-cellnav  ui-grid-auto-resize></div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="text-center">
                     <div paging
                        page="1" 
                        page-size="15" 
                        total=addnewDtotalCount
                        paging-action="UpPagingAct(page, pageSize, total)">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--  Deal Dialog-->
   <div class="modal fade" id="updateDealModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title">{{updateDealmgm.prodname}} [{{updateDealmgm.prodId}}]</h4>
            </div>
            <div class="modal-body">
               <div class="row">
                  <div class="col-md-6 text-center">
                     <img src="{{prodImage}}" class="img-responsive" alt="product Image"/>
                  </div>
                  <div class="col-md-6">
                     <p class="text-justify">{{updateDealmgm.description}}</p>
                  </div>
               </div>
               <form name="updateDealMgmForm" novalidate>
                  <div class="col-xs-12 col-sm-6 pull-left">
                     <div class="form-group" ng-class="{ 'has-error' : updateDealMgmForm.sdate.$invalid && !updateDealMgmForm.sdate.$pristine }">
                        <label>Start Date</label>
                        <input id="dealmgmsdate" type="text" name="sdate" class="form-control" ng-model="updateDealmgm.sdate" placeholder="Start Date" required>
                        <p ng-show="updateDealMgmForm.sdate.$touched && updateDealMgmForm.sdate.$invalid" class="help-block">Deal Start Date is required</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6  pull-right">
                     <div class="form-group" ng-class="{ 'has-error' : updateDealMgmForm.edate.$invalid && !updateDealMgmForm.edate.$pristine }">
                        <label>End Date</label>
                        <input id="dealmgmedate" type="text" name="edate" class="form-control" ng-model="updateDealmgm.edate" placeholder="End Date" required>
                        <p ng-show="updateDealMgmForm.edate.$touched && updateDealMgmForm.edate.$invalid" class="help-block">Deal End Date is required</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="alert alert-warning col-md-12" ng-if="errmsg">
                     <span class="close" data-dismiss="alert" aria-label="close" ng-click="alerthide()">&times;</span>			 <strong>Error! </strong>{{errDateMessage}}
                  </div>
                  <div class="clearfix"></div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary"  ng-disabled="updateDealMgmForm.$invalid" ng-click="updateDeals(updateDealmgm)">Update</button>
               <button type="button" class="btn btn-danger"   ng-click="deleteDeal(updateDealmgm)">Delete</button>
            </div>
         </div>
         <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
   </div>
   <!-- /.modal -->
   <!--  Add New Deal Dialog-->
   <div class="modal fade" id="addDealModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title">{{addnewDealmgm.prodname}} [{{addnewDealmgm.prodId}}]</h4>
            </div>
            <div class="modal-body">
               <div class="row">
                  <div class="col-md-6 text-center">
                     <img src="{{prodImage}}" class="img-responsive" alt="product Image"/>
                  </div>
                  <div class="col-md-6">
                     <p class="text-justify">{{addnewDealmgm.description}}</p>
                  </div>
               </div>
               <form name="addnewDealmgmForm" novalidate>
                  <div class="col-xs-12 col-sm-6 pull-left">
                     <div class="form-group" ng-class="{ 'has-error' : addnewDealmgmForm.sdate.$invalid && !addnewDealmgmForm.sdate.$pristine }">
                        <label>Start Date</label>
                        <input id="dealmgmsdate" type="text" name="sdate" class="form-control" ng-model="addnewDealmgm.sdate" placeholder="Start Date" required>
                        <p ng-show="addnewDealmgmForm.sdate.$touched && addnewDealmgmForm.sdate.$invalid" class="help-block">Deal Start Date is required</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6  pull-right">
                     <div class="form-group" ng-class="{ 'has-error' : addnewDealmgmForm.edate.$invalid && !addnewDealmgmForm.edate.$pristine }">
                        <label>End Date</label>
                        <input id="dealmgmedate" type="text" name="edate" class="form-control" ng-model="addnewDealmgm.edate" placeholder="End Date" required>
                        <p ng-show="addnewDealmgmForm.edate.$touched && addnewDealmgmForm.edate.$invalid" class="help-block">Deal End Date is required</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="alert alert-warning col-md-12" ng-if="errmsg">
                     <span class="close" data-dismiss="alert" aria-label="close" ng-click="alerthide()">&times;</span>			 <strong>Error! </strong>{{errDateMessage}}
                  </div>
                  <div class="clearfix"></div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary"  ng-disabled="addnewDealmgmForm.$invalid" ng-click="addnewDeal(addnewDealmgm)">Add</button>
            </div>
         </div>
         <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
   </div>
   <!-- /.modal -->
   <!-- Delete Deal -->
   <div class="modal fade" id="DeldealModal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-sm" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Delete Deal</h4>
            </div>
            <div class="modal-body">
               Do you want to Delete Deal?
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary" ng-click="deldealmgm()">Delete</button>
            </div>
         </div>
      </div>
   </div>
   <!-- Success Msg Dialog -->
   <div class="modal fade" id="SuccessModal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-sm" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Success</h4>
            </div>
            <div class="modal-body">
               <p><i class="fa fa-check fa-3x"></i><span>{{dealsuccmsg}}</span></p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
   <!-- Error Msg Dialog -->
   <div class="modal fade" id="ErrdealModal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-sm" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Error</h4>
            </div>
            <div class="modal-body">
               <p><i class="fa fa-warning fa-3x"></i><span>{{dealerrmsg}}</span></p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
</div>