<div class="body-bg">
   <div class="container-fluid-full">
      <div class="row-fluid">
         <div class="content-box orders">
            <h2 class="main-title"><span>Orders</span></h2>
            <form name="orderForm" novalidate="" class="ng-pristine ng-valid ng-valid-required">
               <div class="col-md-12">
                  <div class="col-md-3 pad0">
                     <div class="form-group" ng-class="{ 'has-error' : orderForm.fromdate.$invalid &amp;&amp; !orderForm.fromdate.$pristine }">
                        <label>From Date</label>
						<input type="text" id="ordersfromdate" name="fromdate" class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required" ng-model="orderDates.fromdate" placeholder="From Date" required="">
                        <p ng-show="orderForm.fromdate.$touched && orderForm.fromdate.$invalid" class="help-block">From Date is required</p>
                     </div>
                  </div>
                  <div class="col-md-3 pad0">
                     <div class="form-group" ng-class="{ 'has-error' : orderForm.todate.$invalid &amp;&amp; !orderForm.todate.$pristine }">
                        <label>To Date</label>
						<input type="text" id="orderstodate" name="todate" class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required" ng-model="orderDates.todate" placeholder="To Date" required="">
                        <p ng-show="orderForm.todate.$touched &amp;&amp; orderForm.todate.$invalid" class="help-block ng-hide">To Date is required</p>
                     </div>
                  </div>
                  <div class="col-md-3 pad0">
                     <div class="form-group">
                        <div class="button-login"></br>
                           <button id="submit" type="submit" class="btn orderBtn" ng-disabled="orderForm.$invalid" ng-click="ordersByDate(orderDates)">View Orders</button>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
            <h4 class="show-title">Orders</h4>
            <table id="example" class="hide-content table table-striped table-bordered bootstrap-datatable datatable">
               <thead>
                  <tr>
                     <th>Customer Name</th>
                     <th>Order Id</th>
                     <th>Order Date</th>
                     <th>Order Amount</th>
                     <th>Order Status</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="orderDetails in allOrders">
                     <td class="center">{{orderDetails.billing.firstName}} {{orderDetails.billing.lastName}}</td>
                     <td class="center">{{orderDetails.id}}</td>
                     <td class="center">{{orderDetails.datePurchased}}</td>
                     <td class="center"><i class="fa fa-inr" aria-hidden="true"></i> {{orderDetails.totalamt}}</td>
                     <td class="center">{{orderDetails.orderStatus}}</td>
                     <td class="center"><a title="Details" class="btn btn-primary" data-toggle="modal" data-target=".orderPopup" ng-click="viewOrder(orderDetails)">Details</a></td>
                  </tr>
               </tbody>
            </table>
			<div class="text-center">
				<div paging
					page="1" 
					size="10"
					total=totalPages
					paging-action="orderPaging(page, size, total, orderDates)">
				</div>
			</div>
            <div class="modal fade orderPopup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content dealmgm-view">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="text-left modal-title orderHeader"><b>Order Information</b></h4>
                  </div>
                  <div class="modal-body">
				  <div class="col-md-12">
				  <div class="col-md-6 borderStyle">
                        <p><b>Customer Name :</b> {{orderInfo.firstName}} {{orderInfo.lastName}}</p>
                        <p><b>Delivery Address :</b> {{orderInfo.address}}, {{orderInfo.city}}, {{orderInfo.area}}, {{orderInfo.postalCode}}</p>
				  </div>
				  <div class="col-md-6">
					<p><b>Order Id :</b> {{orderInfo.orderId}}</p>
					<p><b>Order Date :</b> {{orderInfo.orderDate}}</p>
					<p><b>Order Amount :</b> <i class="fa fa-inr" aria-hidden="true"></i> {{orderInfo.orderAmount}}</p>
					<p><b>Order Status :</b> {{orderInfo.orderStatus}}</p>
				  </div>
				  </div>
				<hr>
			<table id="example" class="scroll hide-content table table-striped table-bordered bootstrap-datatable datatable">
               <thead>
                  <tr>
                     <th>Product Id</th>
                     <th>Product</th>
                     <th>Product Image</th>
                     <th>Quantity</th>
                     <th>Price</th>
                     <th>Sub Total</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="productInfo in productList">
                     <td class="center">{{productInfo.id}}</td>
                     <td class="center">{{productInfo.productName}}</td>
                     <td class="center">{{productInfo.image}}</td>
                     <td class="center">{{productInfo.orderedQuantity}}</td>
                     <td class="center"><i class="fa fa-inr" aria-hidden="true"></i> {{productInfo.price}}</td>
                     <td class="center"><i class="fa fa-inr" aria-hidden="true"></i> {{productInfo.subTotal}}</td>
                  </tr>
               </tbody>
            </table>
                     </div>
                     <div class="modal-footer">
                        <button type="button" title="Close" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                  <!-- /.modal-content -->
               </div>
            </div>
			
			<!--Date Error Popup -->
			<div class="modal fade errorPopup" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-sm" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                           <h4 class="modal-title" id="myModalLabel">Error</h4>
                        </div>
                        <div class="modal-body">
                           <p><i class="fa fa-warning fa-3x"></i><span>{{failure}}</span></p>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
   </div>
</div>