<div class="catalogue-view">
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="cataloguetabs" role="tablist">
   <li role="presentation" class="active"><a data-target="#bookings" aria-controls="home" role="tab" data-toggle="tab" >Bookings</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
   <div role="tabpanel" class="tab-pane active" id="bookings">
      <div id="content">
         <div class="col-md-12">
            <!-- Update Product -->
            <div class="row">
              <h2 class="main-title"><span>Service Bookings</span></h2>
				<div class="selectDropdown">
                  <div class="selectedValueClass">
					<select ng-init="selectedValue = options[0]" 
                      ng-model="selectedValue" 
                      ng-options="option.name for option in options" ng-change="selectToFilter(selectedValue)">
					</select>
                  </div>
				</div>
               <div class="clearfix"></div>
			   <table id="example" class="hide-content table table-striped table-bordered bootstrap-datatable datatable">
               <thead>
                  <tr>
                     <th>Service Type</th>
                     <th>Booking Id</th>
                     <th>Booking Date</th>
                     <th>Customer Name</th>
                     <th>Status</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="bookedService in serviceBookedData">
                     <td class="center">{{bookedService.serviceType}}</td>
                     <td align="center" width="10%">{{bookedService.servicesBookingId}}</td>
                     <td class="center">{{bookedService.bookingDate}}</td>
                     <td class="center">{{bookedService.customerBookingdetails.customerName}}</td>
                     <td class="center">{{bookedService.status}}</td>
					 <td class="center">
						<a class="btn btn-primary" data-toggle="modal" data-target=".bookServicePopup" ng-click="getBookedService(bookedService)">Details</a>
                     </td>
                  </tr>
               </tbody>
            </table>
               <div class="text-center">
                  <div paging
                     page="1" 
                     page-size="15" 
                     total=bookingCount
                     paging-action="bookServicePaging(page, pageSize, total)">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade bookServicePopup" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{bookedDetails.serviceType}}[{{bookedDetails.servicesBookingId}}] : {{bookedDetails.bookingDate}}</h4>
         </div>
         <div class="modal-body">
            <form name="bookServiceForm" novalidate>
               <div class="modal-top">
                  <div class="col-xs-12 col-sm-6 pull-left">
                     <!--Product Image -->
                     <div class="form-group" ng-class="{ 'has-error' : bookServiceForm.customerName.$invalid &amp;&amp; !bookServiceForm.customerName.$pristine }">
                        <label>Customer Name</label>
                        <input type="text" name="customerName" class="form-control" ng-model="bookedDetails.customerName" placeholder="Customer Name" required="" ng-readonly="true" readonly="readonly">
                     </div>
                     <div class="form-group" ng-class="{ 'has-error' : bookServiceForm.contactNumber.$invalid &amp;&amp; !bookServiceForm.contactNumber.$pristine }">
                        <label>Customer Mobile</label>
                        <input type="text" name="contactNumber" class="form-control" ng-model="bookedDetails.contactNumber" placeholder="Customer Mobile" required="" ng-readonly="true" readonly="readonly">
                     </div>
					 <div class="form-group" ng-class="{ 'has-error' : bookServiceForm.emailAddress.$invalid &amp;&amp; !bookServiceForm.emailAddress.$pristine }">
                        <label>Customer Email</label>
                        <input type="text" name="emailAddress" class="form-control" ng-model="bookedDetails.emailAddress" placeholder="Customer Email" required="" ng-readonly="true" readonly="readonly">
                     </div>
                     <div class="form-group" ng-class="{ 'has-error' : bookServiceForm.address.$invalid &amp;&amp; !bookServiceForm.address.$pristine }">
                        <label>Customer Address</label>
						<p>{{bookedDetails.street}}, {{bookedDetails.area}}, {{bookedDetails.city}}</p>
						<p>{{bookedDetails.state}} - {{bookedDetails.pinCode}}</p>
                        <!-- <input type="text" name="customerName" class="form-control" ng-model="bookedDetails.customerName" placeholder="Customer Name" required="" ng-readonly="true" readonly="readonly"> -->
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6  pull-right">
                     <!-- Product Description -->
                     <div class="form-group" ng-class="{ 'has-error' : bookServiceForm.companyName.$invalid &amp;&amp; !bookServiceForm.companyName.$pristine }">
                        <label>Service Provider</label>
                        <input type="text" name="companyName" class="form-control" ng-model="bookedDetails.companyName" placeholder="Service Provider Name" required="" ng-readonly="true" readonly="readonly">
                     </div>
                     <div class="form-group" ng-class="{ 'has-error' : bookServiceForm.telephoneNumber.$invalid &amp;&amp; !bookServiceForm.telephoneNumber.$pristine }">
                        <label>Telephone Number</label>
                        <input type="text" name="telephoneNumber" class="form-control" ng-model="bookedDetails.telephoneNumber" placeholder="Telephone Number" required="" ng-readonly="true" readonly="readonly">
                     </div>
					 <div class="form-group" ng-class="{ 'has-error' : bookServiceForm.providerEmail.$invalid &amp;&amp; !bookServiceForm.providerEmail.$pristine }">
                        <label>Email Address</label>
                        <input type="text" name="providerEmail" class="form-control" ng-model="bookedDetails.providerEmail" placeholder="Provider Email" required="" ng-readonly="true" readonly="readonly">
                     </div>
                     <div class="form-group" ng-class="{ 'has-error' : bookServiceForm.customerName.$invalid &amp;&amp; !bookServiceForm.customerName.$pristine }">
                        <label>Address</label>
                        <p>{{bookedDetails.houseNumber}}, {{bookedDetails.serviceStreet}}, {{bookedDetails.serviceArea}}, {{bookedDetails.serviceCity}}</p>
                        <p>{{bookedDetails.serviceState}} - {{bookedDetails.servicePincode}}</p>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12" ng-show="showCloseBtn">
                     <label>Comments</label>
                     <input type="text" name="customerName" class="form-control" ng-model="bookedDetails.comment" placeholder="Comments over booking" required="">
                  </div>
               </div>
               <div class="clearfix"></div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" title="Cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" title="Close" class="btn btn-danger" ng-click="closeBookedServ(bookedDetails)" ng-show="showCloseBtn">Close</button>
            <button type="button" title="Delete" class="btn btn-danger" ng-click="deleteBookService(bookedDetails)">Delete</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- Success Message Popup -->
<div class="modal fade successPopup" tabindex="-1" role="dialog">
   <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Success</h4>
         </div>
         <div class="modal-body">
            <p><i class="fa fa-check fa-3x"></i><span>{{success}}</span></p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!-- Error Message Popup -->
<div class="modal fade ErrdealModal" tabindex="-1" role="dialog">
   <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Error</h4>
         </div>
         <div class="modal-body">
            <p><i class="fa fa-warning fa-3x"></i><span>{{failure}}</span></p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade confirmPopup" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete Booked Service</h4>
         </div>
         <div class="modal-body">
            Sure to delete service?
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" ng-click="confirmDelete(bookedDetails.servicesBookingId)">Yes</button>
         </div>
      </div>
   </div>
</div>